@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.container {
  @apply px-5 md:px-0 md:w-11/12 mx-auto h-full
}

.paragraf {
  @apply text-sm md:text-base
}

.image {
  @apply max-w-[350px] h-[260px] shadow-lg rounded-xl
}

.h3 {
  @apply font-bold text-amber-500 mb-3 text-lg md:text-xl
}

.dark{
  @apply text-gray-100 bg-gray-900 
}

.gradient {
  @apply p-[1px] rounded-lg bg-gradient-to-l from-color30 to-color10 border-none
}

